*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #212121;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
